<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:59461/RESTfulTransactionService.svc" name="Service1" binding="webHttpBinding" contract="ServiceReference.IRESTfulTransactionService" behaviorConfiguration="webby"/>
    </client>
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="wobservice">
          <clientVia />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="MyBinding"  maxBufferPoolSize="2147483647" messageEncoding="Mtom" maxReceivedMessageSize="2147483647"></binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint
          name="wobservice"
          address="http://localhost:59461/RESTfulTransactionService.svc/balance/111"
          binding="wsHttpBinding" bindingConfiguration="MyBinding"
          contract="ServiceReference.IRESTfulTransactionService"
          behaviorConfiguration="wobservice" />
    </client>
  </system.serviceModel>-->
</configuration>
